
*.tlog
*.obj
*.pdb
*.log
*.idb
*.o
*.ipch
*.db-shm
*.opendb
*.db
*.ipdb
*.exe
*.iobj
*.ilk
*.recipe
*.user
*.filters
ConsoleMain/Release/ConsoleMain.vcxproj.FileListAbsolute.txt
ConsoleMain/Debug/ConsoleMain.vcxproj.FileListAbsolute.txt
*.db-wal
.vs/study.huawei.ckds.task2/v16/.suo
